{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Librería INACAP{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'img/logo.png' %}" alt="Universidad Tecnológica de Chile INACAP">
        <div class="user-auth">
            {% if user.is_authenticated %}
                <span>Bienvenido, {{ user.username }}!</span>
                <a href="{% url 'logout' %}">Cerrar sesión</a>
            {% else %}
                <a href="{% url 'login' %}">Iniciar sesión</a>
            {% endif %}
        </div>
        <a href="#" class="terms-link">TÉRMINOS Y CONDICIONES</a>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Añade el contenido del pie de página si es necesario -->
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>