

{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librería INACAP</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <header>
        <img class="img1" src="{% static 'img/logo.png' %}" alt="Universidad Tecnológica de Chile INACAP">
        <a href="#" class="terms-link">TÉRMINOS Y CONDICIONES</a>
    </header>

    <main>
        <h1>LIBRERÍA INACAP</h1>
        <p>Libros que viajan contigo, préstamo a tu alcance.</p>
        <div class="buttons">
            <a href="{% url 'prestamo_libro' %}" class="button primary">Préstamo de libro</a>
            <a href="{% url 'listado_prestamos' %}" class="button secondary">Administración de biblioteca</a>
        </div>
    </main>
        <footer id="CONTACTO" class="bg-dark text-light footer-container">
            <div class="footer-row">
                <div class="footer-column">
                    <h2><b>CONTACTO</b></h2><br />
                    <p><b>Dirección: Americo Vespucio #0315.</b></p>
                    <p><b>Teléfono: 220351544</b></p>
                    <p><b>Email: contacto@inacap.cl</b></p>
                </div>
                <div class="footer-column2">
                    <h2><b>SIGUEME</b></h2> <br />
                    <ul>
                        <li><a class="text-light btn-outline-danger" href="https://www.facebook.com/officialchucknorrispage" target="_blank" rel="noopener noreferrer"><b>Facebook</b></a></li>
                        <li><a class="text-light btn-outline-danger" href="https://x.com/chucknorris" target="_blank" rel="noopener noreferrer"><b>Twitter</b></a></li>
                        <li><a class="text-light btn-outline-danger" href="https://www.instagram.com/chucknorris/" target="_blank" rel="noopener noreferrer"><b>Instagram</b></a></li>
                        <li><a class="text-light btn-outline-danger" href="https://www.linkedin.com/posts/wayne-worsham-664403274_chuck-norris-words-of-wisdom-selfconfidence-activity-7170579871792906240-6uLz?utm_source=share&utm_medium=member_desktop" target="_blank" rel="noopener noreferrer"><b>LinkedIn</b></a></li>
                    </ul>
                </div> 
            </div>
        </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>