{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librería INACAP</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'img/logo.png' %}" alt="Universidad Tecnológica de Chile INACAP">
        <a href="#" class="terms-link">TÉRMINOS Y CONDICIONES</a>
    </header>

    <main>
        <h1>LIBRERÍA INACAP</h1>
        <p>Libros que viajan contigo, préstamo a tu alcance.</p>
        <div class="buttons">
            <a href="{% url 'prestamo_libro' %}" class="button primary">Préstamo de libro</a>
            <a href="{% url 'listado_prestamos' %}" class="button secondary">Administración de biblioteca</a>
        </div>
        <p class="footnote">Según estudios de la Universidad de Sussex, leer puede reducir el es</p>
    </main>

    <footer>
        <!-- Añade el contenido del pie de página si es necesario -->
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>